<app-theme-card-wrapper
  [title]="themeService.isDark() ? 'Midnight' : 'Daylight'"
  [subtitle]="'Theme'"
  [isDark]="themeService.isDark()"
  [tags]="tags"
  [footerLabel]="'ngx-theme-stack:toggle'"
>
  <button
    (click)="toggleTheme()"
    class="group relative flex items-center justify-center w-20 h-20 bg-slate-900 dark:bg-white text-white dark:text-slate-950 rounded-full transition-all duration-200 active:scale-95 hover:shadow-[0_0_40px_-5px_rgba(0,0,0,0.4)] dark:hover:shadow-[0_0_40px_-5px_rgba(255,255,255,0.4)] cursor-pointer"
  >
    <span class="material-symbols-outlined text-4xl transition-transform duration-200 group-hover:rotate-45">
      {{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}
    </span>
  </button>
</app-theme-card-wrapper>
