<div
  class="hidden md:flex fixed bottom-6 right-6 z-50 items-center gap-3 bg-nav-bg backdrop-blur-2xl px-4 py-2 rounded-full border border-card-border shadow-lg transition-all duration-300 hover:scale-105 select-none lg:gap-5 lg:px-6 lg:py-3"
>
  <img
    ngSrc="/favicon.webp"
    alt="ngx-theme-stack logo"
    class="size-8 lg:size-12"
    width="32"
    height="32"
    priority
  />
  <div class="flex flex-col gap-0.5">
    <span
      class="text-[10px] font-black tracking-[0.25em] text-text-main uppercase leading-none"
    >
      ngx-theme-stack
    </span>
    <span
      class="text-[8px] font-bold text-tag-text uppercase tracking-widest leading-none"
    >
      v2.0.0-beta.x
    </span>
  </div>
</div>
