<app-theme-card-wrapper
  [title]="'Cycle'"
  [subtitle]="'Mode'"
  [isDark]="themeService.isDark()"
  [tags]="tags"
  [footerLabel]="'ngx-theme-stack:cycle'"
>
  <button
    (click)="nextTheme()"
    class="group relative flex items-center justify-center w-24 h-24 bg-indigo-600 dark:bg-indigo-400 text-white dark:text-slate-950 rounded-3xl transition-all duration-300 active:scale-90 hover:rotate-90 hover:shadow-[0_0_50px_-10px_rgba(79,70,229,0.5)] cursor-pointer"
  >
    <span class="material-symbols-outlined text-5xl transition-all duration-300">
      {{ 
        themeService.selectedTheme() === 'light' ? 'light_mode' : 
        themeService.selectedTheme() === 'dark' ? 'dark_mode' : 
        'settings_brightness' 
      }}
    </span>
  </button>
</app-theme-card-wrapper>
